# Ignore .env file
.env

# Node.js dependencies
node_modules/

# Logs
*.log
*.out
*.txt

# OS-specific files (MacOS example)
.DS_Store

# IDE-specific files (VS Code example)
.vscode/

#ignore data
data/*

#ignore messege log
server/messages.txt

# Ignore .pem files in the server directory
server/*.pem

#ignore server scripts
start-server.sh
stop-server.sh
